


<link rel="stylesheet" href="/assets/css/customhamburger.css">








<!-- Start Top Nav -->
{{! <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
        <i class="fa fa-phone mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
      </div>
      <div>
        <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
            class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
            class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://twitter.com/" target="_blank"><i
            class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
            class="fab fa-linkedin fa-sm fa-fw"></i></a>
      </div>
    </div>
  </div>
</nav> }}
<!-- Close Top Nav -->
<div class="nav main d-flex justify-content-between sticky mb-0 pb-0">


 


  <!-- Header -->
  <div class="brand-img col-4 d-flex align   mb-0">
    

     <div class="togler d-flex">

<div class="toggle-nav"><span class="m"></span><span class="e"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span><span class="n"></span><span class="u"></span></div>
<div class="nav-pane slide-out">
  <div class="d-flex ">
      <div class="toggle-nav"><span class="m"></span><span class="e"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span><span class="n"></span><span class="u"></span></div>
      <div> <a href="/user-home"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
  width="250" height="60" viewBox="-20 10 800.000000 200.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,193.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M4005 1546 c-145 -28 -259 -90 -354 -191 -135 -145 -186 -338 -146
-560 39 -220 202 -386 440 -451 93 -25 349 -31 454 -9 79 16 247 67 258 79 7
7 -17 66 -27 66 -4 0 -28 -11 -53 -25 -126 -71 -388 -97 -549 -56 -214 55
-362 194 -412 388 -21 79 -21 250 -1 328 34 131 111 243 210 300 159 93 414
107 639 35 49 -16 93 -27 97 -25 4 3 12 19 18 35 13 37 10 39 -139 70 -133 27
-338 35 -435 16z"/>
<path d="M235 1513 c4 -21 9 -263 11 -538 4 -391 2 -517 -9 -577 l-13 -78 182
0 c273 0 386 21 495 91 154 98 183 344 55 456 -58 52 -101 71 -220 98 l-29 6
49 23 c111 53 183 150 191 260 10 119 -38 201 -145 249 -80 36 -165 47 -386
47 l-188 0 7 -37z m405 -24 c86 -14 142 -48 177 -107 24 -41 28 -57 28 -127 0
-89 -12 -120 -66 -173 -71 -69 -219 -110 -351 -98 l-78 8 0 239 0 239 23 5
c114 26 176 29 267 14z m100 -588 c78 -24 145 -77 171 -135 23 -51 25 -159 4
-210 -56 -133 -238 -205 -452 -178 -52 7 -99 15 -104 18 -5 3 -9 122 -9 264
l0 259 23 5 c12 2 85 3 162 1 107 -2 155 -8 205 -24z"/>
<path d="M1347 1503 c11 -63 10 -1086 0 -1141 l-9 -42 368 2 368 3 13 44 12
44 -47 -7 c-207 -26 -519 -32 -575 -11 -16 7 -17 41 -17 504 0 431 4 531 23
635 1 7 -24 12 -71 14 l-73 3 8 -48z"/>
<path d="M2550 1006 c-133 -300 -261 -577 -285 -616 l-44 -70 67 0 68 0 10 68
c8 43 35 120 79 220 l68 152 271 0 272 0 61 -147 c67 -159 83 -210 83 -260 l0
-33 80 0 c44 0 80 3 80 6 0 4 -15 32 -34 63 -19 31 -123 265 -231 521 -270
637 -268 634 -286 638 -12 2 -73 -126 -259 -542z m370 80 c60 -143 108 -261
106 -263 -2 -2 -112 -2 -244 -1 l-241 3 103 230 c56 127 113 253 125 280 20
44 24 48 32 30 5 -11 59 -137 119 -279z"/>
<path d="M4917 1488 c10 -81 11 -1035 0 -1110 l-8 -58 71 0 72 0 -7 28 c-4 15
-9 155 -12 312 -4 281 -4 285 15 265 11 -11 130 -139 266 -285 382 -409 465
-483 590 -522 47 -15 80 -19 141 -15 84 5 185 31 185 48 0 7 -19 41 -57 98 -1
2 -13 -6 -28 -17 -88 -70 -238 -39 -365 75 -30 26 -190 192 -357 368 l-304
320 169 165 c93 91 213 203 267 250 54 47 112 97 129 112 l31 27 -77 1 c-77 0
-78 0 -94 -32 -17 -33 -410 -437 -477 -490 l-39 -31 5 244 c3 134 8 259 12
277 l7 32 -72 0 -72 0 9 -62z"/>
</g>
</svg></a>  </div>
  </div>
  
      <div class="mt-5">
        <ul class="nav navbar-nav  d-flex justify-content-between mx-lg-auto">
          <li class="nav-item d-flex justify-content-between p-3">
            {{#each category}}
            <a class="nav-link text-black " href="/category/{{this._id}}"> {{this.categoryname}}</a>
           {{/each}}

          </li>
          <li>
            
             <div class="input-group mt-2">
            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ..." />
            <div class="input-group-text">
              <i class="fa fa-fw fa-search"></i>
            </div>
          </div>
          </li>
        </ul>
      </div>  

    



</div>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  </div>



     <div class="blacklogo"> <a href="/user-home"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="250" height="60" viewBox="-20 10 800.000000 200.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,193.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M4005 1546 c-145 -28 -259 -90 -354 -191 -135 -145 -186 -338 -146
-560 39 -220 202 -386 440 -451 93 -25 349 -31 454 -9 79 16 247 67 258 79 7
7 -17 66 -27 66 -4 0 -28 -11 -53 -25 -126 -71 -388 -97 -549 -56 -214 55
-362 194 -412 388 -21 79 -21 250 -1 328 34 131 111 243 210 300 159 93 414
107 639 35 49 -16 93 -27 97 -25 4 3 12 19 18 35 13 37 10 39 -139 70 -133 27
-338 35 -435 16z"/>
<path d="M235 1513 c4 -21 9 -263 11 -538 4 -391 2 -517 -9 -577 l-13 -78 182
0 c273 0 386 21 495 91 154 98 183 344 55 456 -58 52 -101 71 -220 98 l-29 6
49 23 c111 53 183 150 191 260 10 119 -38 201 -145 249 -80 36 -165 47 -386
47 l-188 0 7 -37z m405 -24 c86 -14 142 -48 177 -107 24 -41 28 -57 28 -127 0
-89 -12 -120 -66 -173 -71 -69 -219 -110 -351 -98 l-78 8 0 239 0 239 23 5
c114 26 176 29 267 14z m100 -588 c78 -24 145 -77 171 -135 23 -51 25 -159 4
-210 -56 -133 -238 -205 -452 -178 -52 7 -99 15 -104 18 -5 3 -9 122 -9 264
l0 259 23 5 c12 2 85 3 162 1 107 -2 155 -8 205 -24z"/>
<path d="M1347 1503 c11 -63 10 -1086 0 -1141 l-9 -42 368 2 368 3 13 44 12
44 -47 -7 c-207 -26 -519 -32 -575 -11 -16 7 -17 41 -17 504 0 431 4 531 23
635 1 7 -24 12 -71 14 l-73 3 8 -48z"/>
<path d="M2550 1006 c-133 -300 -261 -577 -285 -616 l-44 -70 67 0 68 0 10 68
c8 43 35 120 79 220 l68 152 271 0 272 0 61 -147 c67 -159 83 -210 83 -260 l0
-33 80 0 c44 0 80 3 80 6 0 4 -15 32 -34 63 -19 31 -123 265 -231 521 -270
637 -268 634 -286 638 -12 2 -73 -126 -259 -542z m370 80 c60 -143 108 -261
106 -263 -2 -2 -112 -2 -244 -1 l-241 3 103 230 c56 127 113 253 125 280 20
44 24 48 32 30 5 -11 59 -137 119 -279z"/>
<path d="M4917 1488 c10 -81 11 -1035 0 -1110 l-8 -58 71 0 72 0 -7 28 c-4 15
-9 155 -12 312 -4 281 -4 285 15 265 11 -11 130 -139 266 -285 382 -409 465
-483 590 -522 47 -15 80 -19 141 -15 84 5 185 31 185 48 0 7 -19 41 -57 98 -1
2 -13 -6 -28 -17 -88 -70 -238 -39 -365 75 -30 26 -190 192 -357 368 l-304
320 169 165 c93 91 213 203 267 250 54 47 112 97 129 112 l31 27 -77 1 c-77 0
-78 0 -94 -32 -17 -33 -410 -437 -477 -490 l-39 -31 5 244 c3 134 8 259 12
277 l7 32 -72 0 -72 0 9 -62z"/>
</g>
</svg></a>  </div>
  </div>
  <div class="category col-6 collapse  flex-fill d-lg-flex justify-content-lg-center "></div>
   

  <div class="d-flex col-2 justify-content-end pe-4">



    {{#if loggedIn}}
    <div class="dropdown pe-3 pt-3">
      <a type="" id="dropdownMenuButton123" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
          class="bi bi-person-circle text-black" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
      </a>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton123">
        <li><a class="dropdown-item" href="/dashbord">User Dashbord</a></li>
        <li><a class="dropdown-item w-100" href="/logout"><span class="text-danger">Logout</span> {{users.firstname}}</a></li>
      </ul>

    </div>
    {{else}}
    <a class="nav-icon position-relative text-decoration-none  pe-3 pt-3" href="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person text-black"
        viewBox="0 0 16 16">
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
      </svg>
      <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
    </a>
    {{/if}}




    <a class="nav-icon  position-relative text-decoration-none pt-3 pe-3 " href="/Wishlist">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart text-black"
        viewBox="0 0 16 16">
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
      </svg>
      <span class="position-absolute top-10 left-100 translate-middle badge rounded-pill bg- text-dark"
        id="wishlist-count"></span>
    </a>

    <a class=" position-relative text-decoration-none pt-3 " href="/Cart">
     <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-bag text-dark" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
      <span class="position-absolute top-10 left-200 translate-middle badge rounded-pill text-dark"
        id="cart-count"></span>
    </a>



  </div>

</div>











{{!-- <nav class="navbar navbar-expand-lg navbar-light  " style="padding: 0%;">

  <div class="container-fluid  d-flex justify-content-between align-items-end ">

    <a class="navbar-brand text-white h4 align-self-end pb-2" href="/user-home">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-house text-black"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        <path fill-rule="evenodd"
          d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
      </svg>
    </a>
    <a class="nav-icon d-none d-lg-inline pb-3 " href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" fill="currentColor" class="bi bi-search text-black"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </a>


    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="align-self-end collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav">
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">

            <a class="nav-link text-black" href="#"> Men</a>


          </li>


          <li class="nav-item">
            <a class="nav-link text-black" href="#">Women</a>
          </li>
        </ul>
      </div>
      <div class="navbar align-self-end d-flex">
        <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
          <div class="input-group">
            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ..." />
            <div class="input-group-text">
              <i class="fa fa-fw fa-search"></i>
            </div>
          </div>
        </div>

        {{#if loggedIn}}
        <div class="dropdown pe-3">
          <a type="" id="dropdownMenuButton123" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-person-circle text-black" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </a>
          {{users.firstname}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton123">
            <li><a class="dropdown-item" href="/logout">logout</a></li>
            <li><a class="dropdown-item" href="/profile">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>

        </div>
        {{else}}
        <a class="nav-icon position-relative text-decoration-none" href="/login">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-person text-black" viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
          </svg>
          <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
        </a>
        {{/if}}


        <a class="nav-icon position-relative text-decoration-none" href="/showWishlist">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-heart text-blackt" viewBox="0 0 16 16">
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
          </svg>
          <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg- text-dark"
            id="wishlist-count"></span>
        </a>

        <a class="nav-icon position-relative text-decoration-none" href="/showCart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-cart3 text-black" viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-dark text-white"
            id="cart-count"></span>
        </a>


      </div>
    </div>

  </div>
</nav> --}}






{{#if loggedIn}}
<script src="/javascripts/cartcount.js"></script>
{{/if}}
<script src="https://kit.fontawesome.com/0a64a260ef.js" crossorigin="anonymous"></script>

<!-- Close Header -->